<% if object.errors.any? %>
  <div class="alert alert-warning" role="alert">
    <strong>Your <%= object.class.name.downcase %> could not be saved due to the following errors:</strong>
    <ul>
    <% object.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>