<nav>
  <ul class="pagination">
    <% if @page == 0 %>
      <li class="disabled"><span aria-hidden="true">&laquo;</span></li>
    <% else %>
      <li>
        <%= link_to allowed_params.merge(page: @page), 'aria-label' => 'Previous' do %>
          <span aria-hidden="true">&laquo;</span>
        <% end %>
      </li>
    <% end %>

    <% (@total / IngredientsController::PAGE_SIZE + 1).times do |i| %>
      <li <% if i == @page %>class="active"<% end %>>
        <%= link_to (i+1), allowed_params.merge(page: i+1) %>
      </li>
    <% end %>
    
    <% if @page >= (@total / IngredientsController::PAGE_SIZE) %>
      <li class="disabled"><span aria-hidden="true">&raquo;</span></li>
    <% else %>
      <li>
        <%= link_to allowed_params.merge(page: @page+2), 'aria-label' => 'Next' do %>
          <span aria-hidden="true">&raquo;</span>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>